<a href="https://colab.research.google.com/github/GeethamGampa/My_Works/blob/main/Work_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Calculator (using lambda expresion)***

In [23]:
# Lambda functions
addition = lambda x, y: x + y
subtraction = lambda x, y: x - y
multiplication = lambda x, y: x * y
division = lambda x, y: x / y if y != 0 else "Error! Division by zero."


num1 = float(input("Enter your first number: "))
num2 = float(input("Enter your second number: "))


print(num1, "+", num2, "=", addition(num1, num2))
print(num1, "-", num2, "=", subtraction(num1, num2))
print(num1, "*", num2, "=", multiplication(num1, num2))
print(num1, "/", num2, "=", division(num1, num2))

Enter your first number: 5
Enter your second number: 7
5.0 + 7.0 = 12.0
5.0 - 7.0 = -2.0
5.0 * 7.0 = 35.0
5.0 / 7.0 = 0.7142857142857143

In [3]:

def addition(x, y):
    return (lambda x, y: x + y)(x, y)  # Adds x and y and returns the result

def subtraction(x, y):
    return (lambda x, y: x - y)(x, y)  # Subtracts y from x and returns the result


def multiplication(x, y):
    return (lambda x, y: x * y)(x, y)  # Multiplies x and y and returns the result


def division(x, y):
    return (lambda x, y: x / y if y != 0 else "Error! Division by zero.")(x, y)
    # Performs division if y is not zero, otherwise returns an error message


num1 = float(input("Enter your first number: "))
num2 = float(input("Enter your second number: "))

# Displaying the results of the operations
print(num1, "+", num2, "=", addition(num1, num2))
print(num1, "-", num2, "=", subtraction(num1, num2))
print(num1, "*", num2, "=", multiplication(num1, num2))
print(num1, "/", num2, "=", division(num1, num2))

Enter your first number: 4
Enter your second number: 0
4.0 + 0.0 = 4.0
4.0 - 0.0 = 4.0
4.0 * 0.0 = 0.0
4.0 / 0.0 = Error! Division by zero.

***Calculator(using *args)***

In [2]:
def calculator(operation, *args):

    if operation == "add":
        return sum(args)  # Adds all the numbers in args and returns the sum

    elif operation == "subtract":
        result = args[0]  # Start with the first number
        for num in args[1:]:  # Loop through the remaining numbers
            result -= num  # Subtract each subsequent number from the result
        return result

    # elif operation == "multiply":
    #     result = 1  # Initialize result to 1 (multiplicative identity)
    #     for num in args:  # Loop through all numbers in args
    #         result *= num  # Multiply each number with the result
    #     return result

    elif operation == "multiply":
        result = args[0]  # Start with first number
        for num in args[1:]:  # Loop through all numbers in args
            result *= num  # Multiply each number with the result
        return result

    elif operation == "divide":
        result = args[0]  # Start with the first number
        for num in args[1:]:  # Loop through the rest of the numbers
            if num != 0:  # Prevent division by zero
                result /= num  # Divide result by the current number
            else:
                return "Cannot divide by zero"  # Return an error message if division by zero is attempted
        return result

    else:
        return "Invalid operation"  # If operation is not recognized, return an error message


print(calculator("add", 2, 4, 5))
print(calculator("subtract", 100, 50, 25))
print(calculator("multiply", 3, 4, 5))
print(calculator("divide", 100, 5, 2))

11
25
60
10.0

##***lambda()***

syntax: lambda arguments: expression

***Examples***

***Addition***

In [1]:
add = lambda x, y: x + y
print(add(3, 5))

8

***Square of a Number*** : *A lambda function can be used to compute the square of a number by multiplying the number by itself.*

In [4]:
square = lambda x: x * x
print(square(10))

100

***x to the power of x***

In [6]:
power_self = lambda x: x ** x
print(power_self(2))

4

***Using Lambda in map()***

*Syntax : map(function, iterable)*

In [6]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)

[1, 4, 9, 16, 25]

***Using Lambda in filter()***

*The filter() function is used to filter elements from an iterable based on a given condition. *

In [3]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

***Filtering Words that Start with a Specific Letter***

In [15]:
words = ["Apple", "Banana", "Mango", "Strawberry"]
a_words = list(filter(lambda word: word[0] == "A", words))
print(a_words)

['Apple']

***Using Lambda in sorted()***

*The filter() function is used to
 filter elements from an iterable based
 on a given condition.*

In [9]:
people = [("Geetha", 20), ("Hari", 24), ("Mahanthi", 23)]
sort_people = sorted(people, key=lambda x: x[1])  # Sort by age
print(sort_people)

[('Geetha', 20), ('Mahanthi', 23), ('Hari', 24)]

In [14]:
people = [("Geetha", 20), ("Hari", 24), ("Mahanthi", 23)]
sort_people = sorted(people, key = lambda x: x[0]) #sort by name
print(sort_people)

[('Geetha', 20), ('Hari', 24), ('Mahanthi', 23)]

***Multiplying All Elements in a List by a Constant***

*Using map() with lambda to multiply all numbers in a list by 10*

In [4]:
numbers = [1, 2, 3, 4]
result = list(map(lambda x: x * 10, numbers))
print(result)

[10, 20, 30, 40]

***check if a number is even or odd***

In [5]:
even_or_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
print(even_or_odd(4))
print(even_or_odd(7))

Even
Odd

***Finding the Length of Each String in a List***

In [16]:
words = ["apple", "banana", "orange"]
length = list(map(lambda word: len(word), words))
print(length)

[5, 6, 6]

***Reversing a String***

In [17]:
reverse = lambda s: s[::-1]
print(reverse("Python"))

nohtyP