<a href="https://colab.research.google.com/github/GeethamGampa/My_Works/blob/main/Work_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Function to Convert Lowercase Letters to Uppercase in a String***

In [6]:
a = "HELLO"
def to_upper(a):
  re = ' '
  for i in a:
    ascii = ord(i)
    if 65 <= ascii <= 90:
      upp = ascii + 32
      re += chr(upp)
    else:
      re += i
  return re
print(to_upper(a))

 hello

***Function to Convert Uppercase Letters to Lowercase in a String***

In [7]:
a = "world"
def to_lower(a):
  re = ' '
  for i in a:
    ascii = ord(i)
    if 97 <= ascii <= 122:
      low = ascii - 32
      re += chr(low)
    else:
      re += i
  return re
print(to_lower(a))

 WORLD

***Function to Capitalize the First Letter of a String***

In [8]:
a = "programming"
def capitalize(a):
  first = True #to make sure only the first letter is capitalised
  re = ' '
  for i in a:
    ascii = ord(i)
    if first and 97 <= ascii <= 122:
      upp = ascii - 32
      re += chr(upp)

      #setting back to false after capitalizing the first character
      first = False
    else:
      re += i
  return re
print(capitalize(a))

 Programming

***Function to Check for Anagrams Between Two Strings***

In [15]:
def check_anagrams(str1,str2):
  if (sorted(str1) == sorted(str2)):
    print(sorted(str1))
    print(sorted(str2))

    print("The strings are anagrams")
  else:
    print("The strings are not anagrams")

str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
check_anagrams(str1,str2)

Enter first string: silent
Enter second string: listen
['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']
The strings are anagrams

In [4]:
def check_anagrams(str1,str2):
  if (sorted(str1) == sorted(str2)):

    print("The strings are anagrams")
  else:
    print("The strings are not anagrams")

str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
check_anagrams(str1,str2)

Enter first string: bad
Enter second string: dad
The strings are not anagrams

In [20]:
def anagrams(s1,s2):
 return sorted(s1) == sorted(s2)

print(anagrams("listen","silent"))

True

***Counting Character Frequencies in a String***

In [17]:
s = 'mississippi'
freq = {}
for char in s:
  if char not in freq:
    freq[char] = 1
  else:
    freq[char] += 1
print(freq)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [8]:
s = 'mississippi'
freq = {} #empty dictionary to store freq count
for char in s:
  if char not in freq:
    freq[char] = 1
  else:
    freq[char] += 1
print(freq)
max_freq = max(freq.values())
print(max_freq)
result = {char for char, freq in freq.items()  #set comprehension
          if freq == max_freq}
print(result)

{'m': 1, 'i': 4, 's': 4, 'p': 2}
4
{'s', 'i'}

***Removing Duplicate Characters from a String***

In [22]:
def rm_duplicates(n):
    re = ""
    for char in n:
        if char not in re:
            re += char
    return re

a = input("Enter the string: ")
output = rm_duplicates(a)
print("String after removing the duplicates:", output)

Enter the string: banana
String after removing the duplicates: ban

***Printing an Hourglass Pattern of Stars***

In [25]:
def hourglass_pattern(n):
  #top half
  for i in range(n,0,-1):
    print(" " * (n-i) + "* " * i) #prints * for each row

  #bottom half
  for i in range(2,n+1):
    print(" " * (n-i) + "* " * i)  #prints * for each row

n = int(input("Enter the number of rows: "))
hourglass_pattern(n)

Enter the number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

***Counting Vowels and Consonants in a String:***

In [29]:
def count_vowels(name):
    count = 0
    for i in range(0, len(name)):
        if name[i] == 'a' or name[i] == 'e' or name[i] == 'i' or name[i] == 'o' or name[i] == 'u':
            count += 1
    return count

def consonants(name):
    count = 0
    for i in range(0, len(name)):
        if name[i] not in 'aeiou':
            count += 1
    return count

def check_v_c(name):
    if 'a' in name or 'e' in name or 'i' in name or 'o' in name or 'u' in name:
        c_vowels = count_vowels(name)
        c_con = consonants(name)
    else:
        c_vowels = 0  # If no vowels, count as 0
        c_con = consonants(name)
    return (c_vowels, c_con)

print(check_v_c("pavan"))  # calling main function

(2, 3)

***isalnum()***

In [31]:
a = "HELLO123"
def is_alnum(a):
    re = True
    for i in a:
        ascii = ord(i)
         # Checking if it's not a letter or number
        if not (65 <= ascii <= 90 or 97 <= ascii <= 122 or 48 <= ascii <= 57):
            re = False
            break
    return re

print(is_alnum(a))

True

***encode()***

In [1]:
a = "HELLO"
def encode(a):
    return a.encode("utf-8")

encoded_str = encode(a)
print(encoded_str)

b'HELLO'

***count()***

In [3]:
a = "Programming"
def count(a, char):
    count = 0
    for i in a:
        if i == char:
            count += 1
    return count

print(count(a, 'm'))

2

***isdecimal()***

In [10]:
def isdecimal(a):
    for char in s:
        if char < '0' or char > '9':  # Check if character is not between '0' and '9'
            return False
    return True

s = input("Enter a string: ")
if isdecimal(a):
    print("The string is decimal.")
else:
    print("The string is not decimal.")

Enter a string: 12w
The string is not decimal.

In [11]:
def isdecimal(a):
    for char in s:
        if char < '0' or char > '9':  # Check if character is not between '0' and '9'
            return False
    return True

s = input("Enter a string: ")
if isdecimal(a):
    print("The string is decimal.")
else:
    print("The string is not decimal.")

Enter a string: 1234
The string is decimal.

***swapcase()***

In [13]:
def swap_case(a):
    return a.swapcase()

a = input("Enter a string: ")
result = swap_case(a)
print("String after swapping case:", result)

Enter a string: hello
String after swapping case: HELLO

In [15]:
def swap_case(a):
    return a.swapcase()

a = input("Enter a string: ")
result = swap_case(a)
print("String after swapping case:", result)

Enter a string: HELLO
String after swapping case: hello

***isalpha()***

In [18]:
def isalpha(a):

    if len(a) == 0:
        return False
    for char in a:
        if not char.isalpha():
            return False
    return True
print(isalpha("Python"))
print(isalpha("Python123"))

True
False

In [8]:
def remove_spaces(s):
    res = ''
    space_found = False
    for char in s:
        if ord(char) == 32:

            if not space_found:
                res += char
                space_found = True
        else:
          # to add non-space char directly
            res += char


            space_found = False
    return res.strip()# Remove spaces if found

a = "python is     cool"
output = remove_spaces(a)
print(output)

python is cool

In [7]:
def remove_spaces(a):
    result = ""

    for char in a:
        if not (result and ord(result[-1]) == 32 and ord(char) == 32):
            result += char
    return result.strip()

a = "    Python      is        Cool"
print(remove_spaces(a))

Python is Cool